# ============ GENERAL ============
PORT=''


DB_DIALECT= ''        # mysql | postgres
SCHEME= ''            # mysql | postgresql

# ============ MYSQL ============
MYSQL_DB=''
MYSQL_USER=''
MYSQL_PASSWORD=''
MYSQL_HOST=''
MYSQL_PORT=''

# ========== POSTGRES ===========
POSTGRES_DB=''
POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_HOST=''
POSTGRES_PORT=''

# ============ PGADMIN ============
PG_EMAIL=''
PG_PASSWORD=''
PGADMIN_PORT=''

# ============ TOOLS ============
PHP_PORT=''

# ============ DATABASEURL ============
DATABASE_URL=''
