# ============ GENERAL ============
PORT=''


DB_DIALECT= ''          # postgres | mysql | mariadb | mssql
SCHEME= ''             #postgresql | mysql | php
PORT=''

# ============ MYSQL ============
MYSQL_DB=''
MYSQL_USER=''
MYSQL_PASSWORD=''
MYSQL_HOST=''
MYSQL_PORT=''

# ========== POSTGRES ===========
POSTGRES_DB=''
POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_HOST=''
POSTGRES_PORT=''

# ============ PGADMIN ============
PG_EMAIL=''
PG_PASSWORD=''
PGADMIN_PORT=''

# ============ TOOLS ============
PHP_PORT=''

